
*.dcu
*.local
*.exe
*.~1~
Source/DrawInterfaceInFMX/__history/zDrawEngineInterface_FMX.pas.~2~
Source/DrawInterfaceInFMX/__history/zDrawEngineInterface_FMX.pas.~3~
Source/DrawInterfaceInFMX/__history/zDrawEngineInterface_FMX.pas.~4~
Source/DrawInterfaceInFMX/__history/zDrawEngineInterface_FMX.pas.~5~
Source/DrawInterfaceInFMX/__history/zDrawEngineInterface_FMX.pas.~6~
Source/DrawInterfaceInFMX/__history/zDrawEngineInterface_FMX.pas.~7~
